/* Styles de base */
.product-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 1.2em;
    color: #333;
}

.product-item p {
    font-size: 1em;
    color: #f57c00;
}

/* Style pour les boutons "Ajouter au Panier" */
.add-to-cart {
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #e26c00; /* Légère variation pour l'effet hover */
}

/* Ajustement pour écrans mobiles */
@media (max-width: 768px) {
    .section-products .product-list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Colonnes plus petites pour les tablettes */
    }
}

@media (max-width: 480px) {
    .section-products .product-list {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Colonnes encore plus petites pour les mobiles */
    }

    /* Réduire la taille des boutons "Ajouter au Panier" sur mobile */
    .add-to-cart {
        padding: 8px;
        font-size: 0.9em;
    }

    /* Ajustement du texte du footer et des informations de contact pour les petits écrans */
    footer p, .section-contact h2, .section-contact p {
        font-size: 0.9em;
    }
}
